@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* 追加 *@
<ul>
	<li><a asp-action="Blazor1">Blazor1</a></li>
	<li><a asp-action="Blazor2">Blazor2</a></li>
</ul>